*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}

.content__list {
  height: 298px;
  width: 394px;
  overflow-y: auto;
  position: relative;
  scrollbar-width: none;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
  display: block;
  margin: 2px;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 16.2px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none; 
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  gap: 5px;
}

.search-form__textfield {
  appearance: none;
  font-family: inherit;
  color: inherit;
  font-size: 18px;
  background: transparent;
  border: 1px solid #fff;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  width: 225px;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
  position: relative;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  margin: auto;
  inset: 0;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  margin: auto;
  inset: 0;
}

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-size: 75px;
  line-height: .94;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.more-button {
  width: 100%;
}

.button {
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  padding: 6px;
  color: inherit;
  background: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {  
  outline: 1px solid #fff;
  outline-offset: 2px;
}
